body {
  background-color: #d3e0ea;
  font-size: 16px;
  color: #48426d;
  /*line-height: normal;*/
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.card {
  background-color: #f9f3f3;
  padding: 24px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  border-radius: 5px;
  width: 500px;
  margin: 24px auto;
  text-align: center;
}

.img-circle {
  width: 160px;
  border-radius: 80px;
}

.btn-pink {
  background-color: #f1aa9b;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.btn-pink:hover {
  color: white;
  background-color: #53354a;
  box-shadow: 0 5px 5px rgba(0,0,0,0.3);
  border-radius: 4px;
}

.list-inline {
  list-style: none;
  padding-left: 0;
  margin: 10px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.social-icon {
  color: rgb(220, 220, 220);
  margin: 8px 16px;
  font-size: 32px;

}

.social-icon:hover {
  color: rgb(200, 200, 200);
}

h1 {
  color: #312c51;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  line-height: 32px;
}

h2 {
  color: #312c51;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 32px;
  line-height: 32px;
}

a {
  color: #f1aa9b;
  text-decoration: none;
  padding: 0;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
